:root {
    --videoWidth: 700px;
    --videoHeight: 700px;
    --videoBorderRadius: 30px;
    --videoBorderColor: black;
}

body {
    background-color: rgb(0, 150, 230);
    margin: 5px;
}

div {
    background-color: tomato;
    border-radius: 30px;
    padding: 20px;
    border: black 3px inset;
    height: var(--videoHeight);
    width: var(--videoWidth);
}

video {
    height: var(--videoHeight);
    width: var(--videoWidth);
}
