:root {
    --videoWidth: 700px;
    --videoHeight: 700px;
    --videoBorderRadius: 30px;
    --videoBorderColor: black;
}

body {
    background-color: rgb(0, 150, 230);
    margin: 5px;
}

div {
    background-color: tomato;
    border-radius: 30px;
    padding: 20px;
    border: black 3px inset;
    height: var(--videoHeight);
    width: var(--videoWidth);
}

video {
    height: var(--videoHeight);
    width: var(--videoWidth);
}

li {
    background-color: lightgreen;
    border-radius: 10px;
    border: black 2px solid;
    padding: 10px;
    margin: 5px;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

button {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}
